In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import interpolate
from scipy.interpolate import interp1d 
from sklearn.metrics import mean_squared_error

In [2]:
data = pd.read_csv(r"D:\DownloadSemua\industrial_fault_detection_data_1000.csv")

In [3]:
data.head()

,Timestamp,Vibration (mm/s),Temperature (°C),Pressure (bar),RMS Vibration,Mean Temp,Fault Label
0,2023-03-10 00:00:00,0.437086,64.810634,7.785117,0.601657,90.561384,1
1,2023-03-10 00:01:00,0.955643,93.352076,7.740936,0.601657,90.561384,1
2,2023-03-10 00:02:00,0.758795,119.835667,9.718764,0.601657,90.561384,0
3,2023-03-10 00:03:00,0.638793,108.577991,7.748639,0.601657,90.561384,1
4,2023-03-10 00:04:00,0.240417,114.524892,7.815849,0.601657,90.561384,0

In [4]:
data.shape

(1000, 7)

In [6]:
data.duplicated().sum()

np.int64(0)

In [5]:
data.isnull().sum()

Timestamp           0
Vibration (mm/s)    0
Temperature (°C)    0
Pressure (bar)      0
RMS Vibration       0
Mean Temp           0
Fault Label         0
dtype: int64

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Timestamp         1000 non-null   object
 1   Vibration (mm/s)  1000 non-null   float64
 2   Temperature (°C)  1000 non-null   float64
 3   Pressure (bar)    1000 non-null   float64
 4   RMS Vibration     1000 non-null   float64
 5   Mean Temp         1000 non-null   float64
 6   Fault Label       1000 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 54.8+ KB

In [8]:
data.describe

<bound method NDFrame.describe of                Timestamp  Vibration (mm/s)  Temperature (°C)  Pressure (bar)  \
0    2023-03-10 00:00:00          0.437086         64.810634        7.785117
1    2023-03-10 00:01:00          0.955643         93.352076        7.740936
2    2023-03-10 00:02:00          0.758795        119.835667        9.718764
3    2023-03-10 00:03:00          0.638793        108.577991        7.748639
4    2023-03-10 00:04:00          0.240417        114.524892        7.815849
..                   ...               ...               ...             ...
995  2023-03-10 16:35:00          0.182424        102.556413        9.595887
996  2023-03-10 16:36:00          0.925582        126.529170        7.471820
997  2023-03-10 16:37:00          0.223137         55.516641        7.929364
998  2023-03-10 16:38:00          0.955214         54.564378        7.870137
999  2023-03-10 16:39:00          0.501405         72.574966        9.614242

     RMS Vibration  Mean Temp  Fault Label
0         0.601657  90.561384            1
1         0.601657  90.561384            1
2         0.601657  90.561384            0
3         0.601657  90.561384            1
4         0.601657  90.561384            0
..             ...        ...          ...
995       0.601657  90.561384            0
996       0.601657  90.561384            0
997       0.601657  90.561384            0
998       0.601657  90.561384            0
999       0.601657  90.561384            0

[1000 rows x 7 columns]>

In [9]:
# pastiin kolom timestamp dalam format datetime 
data['Timestamp']= pd.to_datetime(data['Timestamp'])

In [10]:
data.head()

,Timestamp,Vibration (mm/s),Temperature (°C),Pressure (bar),RMS Vibration,Mean Temp,Fault Label
0,2023-03-10 00:00:00,0.437086,64.810634,7.785117,0.601657,90.561384,1
1,2023-03-10 00:01:00,0.955643,93.352076,7.740936,0.601657,90.561384,1
2,2023-03-10 00:02:00,0.758795,119.835667,9.718764,0.601657,90.561384,0
3,2023-03-10 00:03:00,0.638793,108.577991,7.748639,0.601657,90.561384,1
4,2023-03-10 00:04:00,0.240417,114.524892,7.815849,0.601657,90.561384,0

In [ ]:
# kasih tau kode ini di soal 
data['minutes'] = (data['Timestamp'] - data['Timestamp'].iloc[0]).dt.total_seconds()/60

In [12]:
data.head()

,Timestamp,Vibration (mm/s),Temperature (°C),Pressure (bar),RMS Vibration,Mean Temp,Fault Label,minutes
0,2023-03-10 00:00:00,0.437086,64.810634,7.785117,0.601657,90.561384,1,0.0
1,2023-03-10 00:01:00,0.955643,93.352076,7.740936,0.601657,90.561384,1,1.0
2,2023-03-10 00:02:00,0.758795,119.835667,9.718764,0.601657,90.561384,0,2.0
3,2023-03-10 00:03:00,0.638793,108.577991,7.748639,0.601657,90.561384,1,3.0
4,2023-03-10 00:04:00,0.240417,114.524892,7.815849,0.601657,90.561384,0,4.0

In [13]:
x = data['minutes']
y = data['Temperature (°C)']

In [14]:
# titik yang mau diinterpolasi 
x_linear = 1.5 
x_kuadratik = 2.5 
x_cubic = 3.5

In [16]:
# Interpolasi Linear 
f_linear = interpolate.interp1d(x,y,kind='linear')
T_linear = f_linear(x_linear)
print(f"Suhu pada menit ke-1.5 (00:01:30) dengan Interpolasi Linear: {T_linear:.2f}°C")

# Interpolasi Kuadratik 
f_quad = interpolate.interp1d(x,y,kind='quadratic')
T_quad = f_quad(x_kuadratik)
print(f"Suhu pada menit ke-2.5 (00:02:30) dengan Interpolasi Kuadratik: {T_quad:.2f}°C")

# Interpolasi Cubic 
f_cubic = interpolate.interp1d(x,y,kind='cubic')
T_cubic = f_cubic(x_cubic)
print(f"Suhu pada menit ke-1.5 (00:03:30) dengan Interpolasi Cubic: {T_cubic:.2f}°C")

Suhu pada menit ke-1.5 (00:01:30) dengan Interpolasi Linear: 106.59°C
Suhu pada menit ke-2.5 (00:02:30) dengan Interpolasi Kuadratik: 115.43°C
Suhu pada menit ke-1.5 (00:03:30) dengan Interpolasi Cubic: 110.99°C